<div class="centerMargin" id="contact-me">
    <div class="row">
        <div class="col mt-5">
            <h2>Contact Me</h2>
        </div>

        <div class="card mt-5">
            <div class="card-body">
                <p>Contact me if you have any questions or want to work together. I would love to help you out. Just drop the email on</p>
                <p>Email : paragk106@gmail.com</p>
                <div class="float-end pb-5 pe-4">
                    <i class="Phone is-animating"></i>
                </div>
            </div>
        </div>
    </div>
    
</div>
