<div class="centerMargin" id="about-me">
    <div class="row">
        <div class="col mt-5">
            <h2>About Me</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8">
            <p class="mt-3 about">Experienced with full-stack development with expertise in APIs, Frameworks, ORM and Libraries. I Have 2+ year of experience working with front-end technologies like HTML, CSS, JavaScript, Bootstrap, Angular and back-end technologies like Spring Boot JPA and Node js.</p>
            <p class="mt-4 about d-none d-sm-none d-md-none d-lg-block">I am passionate about technologies, learning, development and penetration testing.I love programming a lot! That's why I care about what I do and I always work hard to achieve the best results.</p>
        </div>
        <div class="col-md-4 ps-3 pt-4">
            <span class="picAdjustment">
                <img src="../../assets/parag.webp" class="responsive pic">
            </span>      
        </div>
        <div class="col-md-12 d-sm-none d-md-block d-lg-none">
            <p class="mt-4 about">I am passionate about technologies, learning, development and penetration testing.I love programming a lot! That's why I care about what I do and I always work hard to achieve the best results.</p>
        </div>
    </div>
</div>